* {
  box-sizing: border-box;
}

.container {
  width: 900px;
  min-height: 100vh;
  margin: 0 auto;
  border: 1px solid #000;
  padding: 2px;
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 120px 1fr auto;
  grid-gap: 10px;
  grid-template-areas: 
  "head head"
  "navigation main"
  "footer footer"
  ;
}

header {
  grid-area: head;
}
footer{
  grid-area: footer;
}

main{
  grid-area: main;
}

nav {
  grid-area: navigation;
}